body {
  background: lightgray;
  font-family: Open Sans;
}

h1 {
  margin-left: 1rem;
}

.results {
  display: flex;
  flex-wrap: wrap;
}

.result {
  margin: 1rem;
  padding: 1rem;
  max-width: 200px;
  background: white;
  border: 1px solid grey;
  border-radius: 1rem;
}
